

.ef-error { float: left; }
.ef-dica { display: block; }

.ef-form { margin-bottom: 0; }

.ef-fieldset {}
.ef-legend-fieldset {}

.ef-label-campo {}

.ef-input-nome {}
.ef-input-email {}
.ef-select-estados {}
.ef-select-niveis {}

.ef-btn-submit  { margin-top: 25px; }


/* --------------- Your Custom CSS --------------- */

/* ... */